@font-face{
    font-family: Josefin sans;
    src: url(Fonts/JosefinSans-VariableFont_wght.ttf);
  }
  body
  {
      font-family: Josefin sans;
  }
.header
{
background-image: url(Images/header-img.jpg);
color: #ffffff;
padding: 300px;
text-align: center;    
}
.header h1{
    font-size: 120px;
}
.header h3
{
    font-size: 40px;
}
.why-choose-school{
background-color: #232323;
padding: 60px;
}
.yel
{
    color: #c6e2ba;
}
.white
{
    color: #ffffff;
}
.why-choose-school h1{
    color: #c6e2ba;
    text-align: center;
    font-size: 60px;
    margin-bottom: 60px;
}
.why-choose-school h2{
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 50px;
}
.why-choose-school i
{
    font-size: 90px;
    color: #c6e2ba;
}
.center
{
    text-align: center;
}
.dance-style
{
    background-color: #c6e2ba;
    padding: 50px;
}
.dance-style h1
{
    color: #232323;
    text-align: center;
    font-size: 60px;
    margin-bottom: 60px;
}
.dance-style h2
{
    color: #232323;
    font-size: 40px;
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.dance-style p
{
    color: #232323;
    font-size: 20px;
    margin-left: 30px;
}
.card-back
{
    background-color: #c6e2ba;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    height: 700px;
}
.card-img
{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-bottom: 30px;
}
.slider1
{
    height: 60%;
    width: 80%;
    margin: 0 auto;
}
.card-back1
{
    background-color: #95A98D;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #ffffff;
}
.card-back1 h1
{
    margin-bottom: 10px;
    margin-top: 10px;
}
.card-back1 h2
{
    margin-bottom: 20px;
}
.footer
{
    background-color: #c6e2ba;
    padding: 50px;
}
.footer h2
{
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.footer p
{
    font-size: 20px;
}
.footer i
{
    font-size: 40px;
    margin-right: 20px;
    color: #232323;
}
.footer i:hover
{
    color: #95A98D;
}