@font-face{
    font-family: Josefin sans;
    src: url(Fonts/JosefinSans-VariableFont_wght.ttf);
  }
  body
  {
      font-family: Josefin sans;
  }
.header
{
background-image: url(Images/header-img.jpg);
color: #ffffff;
padding: 300px;
text-align: center;    
}
.header h1{
    font-size: 120px;
}
.header h3
{
    font-size: 40px;
}
.why-choose-school{
background-color: #232323;
padding: 60px;
}
.yel
{
    color: #c6e2ba;
}
.white
{
    color: #ffffff;
}
.why-choose-school h1{
    color: #c6e2ba;
    text-align: center;
    font-size: 60px;
    margin-bottom: 60px;
}
.why-choose-school h2{
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 50px;
}
.why-choose-school i
{
    font-size: 90px;
    color: #c6e2ba;
}
.center
{
    text-align: center;
}
.dance-style
{
    background-color: #c6e2ba;
    padding: 50px;
}
.dance-style h1
{
    color: #232323;
    text-align: center;
    font-size: 60px;
    margin-bottom: 60px;
}